.bookButtons {
  display: flex;
  gap: 8px;
  color: lightgrey;
  margin-top: 22px;
}

.bookButtons button {
  font-family: "Roboto Slab", serif;
  background-color: transparent;
  border: none;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
